.container
  != flash_handler
  %h1.login Verkko CRM
  .form-signin
    = form_for :session, :url => sessions_path, :html => {:class => 'form-sigin' } do |f|
      .fieldset
        %legend Login
        .control-group
          .controls
            = f.text_field :email, :class => 'input', :placeholder => 'Email'
        .control-group
          .controls
            = f.password_field :password, :class => 'input', :placeholder => 'Senha'
        .control-group
          %label.control-label
          .controls
            = button_tag "Login", :class => 'btn btn-primary', 'data-disable-with' => "Processando ..."
-#= render 'pages/footer'
