.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner{:data => {'scollspy' => 'scollspy'}}
    .container
      = link_to image_tag('verkko_logo_menubar.png', :class => 'logotipo') + ' Verkko CRM', home_url, :class => 'brand'
      %ul.nav
        %li{:class => active_controller('prospects')}
          = link_to 'Prospects Corban', prospects_url
        %li{:class => active('pages#agents')}
          = link_to 'Agents Corban', agents_url
        %li{:class => active('pages#backoffice')}
          = link_to 'Backoffice', backoffice_url
      %ul.nav.pull-right
        - if logged_in?
          %li{class:'dropdown', id:'fat-menu'}
            %a{ href:'#', class:'dropdown-toggle', data: {toggle: 'dropdown'}} Conta
            %ul.dropdown-menu
              %li
                = link_to raw('<i class=''icon-cog''></i> Configura&ccedil;&atilde;o'), '#'
              %li.divider
              %li
                = link_to raw('<i class=''icon-off''></i> Logout ') + current_user.name, logout_url, :method => :delete
        - else
          = link_to 'Login', login_url
.navbar-spacer
!= flash_handler
