.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner{:data => {'scollspy' => 'scollspy'}}
    .container
      %h4
        -#= link_to image_tag 'verkko-crm-menubar.png', :class => 'brand'
        = link_to 'Verkko CRM', home_url, :class => 'brand'
        %ul.nav
          %li{:class => active('pages#prospects')}
            = link_to 'Prospects', prospects_url
          %li{:class => active('pages#agents')}
            = link_to 'Agents', agents_url
          %li{:class => active('pages#backoffice')}
            = link_to 'Backoffice', backoffice_url
        %ul.nav.pull-right
          - if logged_in?
            %li{class:'dropdown', id:'fat-menu'}
              %a{ href:'#', class:'dropdown-toggle', data: {toggle: 'dropdown'}} Conta
              %ul.dropdown-menu
                %li 
                  = link_to 'Detalhes', '#'
                %li 
                  = link_to raw('Configura&ccedil;&atilde;o'), '#'
                %li.divider
                %li
                  = link_to 'Logout ' + current_user.name, logout_url, :method => :delete
          - else
            = link_to 'Login', login_url
.navbar-spacer
!= flash_handler
