= render 'pages/site_menu'
.container
  %h1 Prospects Corban

  %table.table.table-bordered.table-striped
    %tr
      %th Nome contato
      %th Nome empressa
      %th Telefone empressa
      %th Telefone celular
      %th Endereco
      %th
      %th
      %th

    - @prospects.each do |prospect|
      %tr
        %td= prospect.nome_contato
        %td= prospect.nome_empressa
        %td= prospect.telefone_empressa
        %td= prospect.telefone_celular
        %td= prospect.endereco
        %td= link_to 'Mostrar', prospect
        %td= link_to 'Editar', edit_prospect_path(prospect)
        %td= link_to 'Apagar', prospect, :method => :delete, :data => { :confirm => 'Tem certeza?' }

  %br

  = link_to 'Novo Prospect', new_prospect_path
